<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd" >
<mapper namespace="com.escapsule.thalitera.mapper.MeetingRoomMapper">
    <select id="getMeetingRoom" resultType="com.escapsule.thalitera.entity.MeetingRoom">
        SELECT * FROM meeting_rooms
        WHERE
            status = 'active'
            <if test="attendeesCount != null">
                AND capacity_min &lt;= #{attendeesCount} AND capacity_max &gt;= #{attendeesCount}
            </if>
            <if test="building != null">
                AND building = #{building}
            </if>
            <if test="floor != null">
                AND floor = #{floor}
            </if>
            <if test="facilities != null">
                AND facilities @> '{"projector": ${facilities.projector}}'
                <if test="facilities.whiteboard != null">
                    AND (facilities->>'whiteboard')::int &gt;= #{facilities.whiteboard, jdbcType=INTEGER}
                </if>
                <if test="facilities.powerSockets != null">
                    AND (facilities->>'power_sockets')::int &gt;= #{facilities.powerSockets, jdbcType=INTEGER}
                </if>
                AND facilities @> '{"coffee_break": ${facilities.coffeeBreak}}'
                <if test="facilities.getSpecialNotes() != null">
                    <foreach collection="facilities.specialNotes" item="note" separator=" AND ">
                        facilities @> '{"special_notes": #{note}}'
                    </foreach>
                </if>
            </if>
    </select>
</mapper>