<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="com.escapsule.thalitera.mapper.MfaRecoveryCodeMapper">

    <insert id="insertBatch" parameterType="java.util.List">
        INSERT INTO mfa_recovery_code (user_id, code_hash)
        VALUES
        <foreach collection="codes" item="code" separator=",">
            (
             #{userId},
             #{code}
            )
        </foreach>
    </insert>
</mapper>